In [14]:
import pandas as pd
import numpy as np
from statistics import mean, median, mode

In [15]:

df = pd.read_csv("csv files/iris.csv")

In [16]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:

# Replace non-numeric values with NaN
iris_numeric = df.apply(pd.to_numeric, errors='coerce')

# Calculate the mean of each numerical column
mean_values = iris_numeric.mean()

print("Mean values:")
print(mean_values)

Mean values:
sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
species              NaN
dtype: float64

In [ ]:
# Median
median_value = np.median(df['sepal_length'])
print(f"Median: {median_value}")

In [ ]:
try:
    mode_value = mode(df['sepal_length'])
    print(f"Mode: {mode_value}")
except StatisticsError:
    print("No unique mode")

In [ ]:
#max

maxm = np.max(df['sepal_length'])
print(maxm)

In [ ]:
#min

minm = np.min(df['sepal_length'])
print(minm)

In [ ]:
print(df.mode())

In [ ]:
# Mid-Range
mid_range = (max(df['sepal_length']) + min(df['sepal_length'])) / 2
print(f"Mid-Range: {mid_range}")

In [ ]:


mean_sepal_length = df['sepal_length'].mean()
df_numeric = df[pd.to_numeric(df['sepal_length'], errors='coerce').notnull()]
df_numeric['sepal_length'] = pd.to_numeric(df_numeric['sepal_length'])
mean_sepal_length_numeric = df_numeric['sepal_length'].mean()

In [ ]:
df.groupby(['sepal_length']).count()

In [ ]:
#to understand these concepts below

# https://www.scribbr.com/statistics/quartiles-quantiles/

In [ ]:

# calculate the quartiles (25th, 50th and 75th percentiles)
quartiles = df['sepal_length'].quantile([0.25, 0.5, 0.75])
print("Quartiles:", quartiles)
print("\n")

# calculate the deciles (10th, 20th, ..., 90th percentiles)
deciles = df['sepal_length'].quantile(np.arange(0.1, 1, 0.1))
print("Deciles:", deciles)
print("\n")


# calculate the percentiles (1st, 2nd, ..., 99th percentiles)
percentiles = df['sepal_length'].quantile(np.arange(0.01, 1, 0.01))
print("Percentiles:", percentiles)
print("\n")

In [20]:
#using builtin function


# Assuming df is your DataFrame
# Convert all columns to numeric (errors='coerce' will convert non-numeric values to NaN)
df_numeric = df.apply(pd.to_numeric, errors='coerce')

# Calculate variance and standard deviation
variance = df_numeric.var()
std_deviation = df_numeric.std()

print("Variance:")
print(variance)
print("\nStandard Deviation:")
print(std_deviation)

Variance:
sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
species              NaN
dtype: float64

Standard Deviation:
sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
species              NaN
dtype: float64

In [22]:
# Calculating mean without using libraries
math_s = df['sepal_length']
def my_mean(math_s):
    return sum(math_s) / len(math_s)
print("mean : ",my_mean(math_s))

mean :  5.843333333333335

In [24]:
# Calculating median without using libraries
def my_median(math_s):
    n = len(math_s)
    index = n // 2
    # Sample with an odd number of observations
    if n % 2:
        return sorted(math_s)[index]
    # Sample with an even number of observations
    return sum(sorted(math_s)[index - 1:index + 1]) / 2
print("median : ",my_median(math_s))

median :  5.8

In [25]:
# Calculating mode without using libraries
from collections import Counter
def my_mode(math_s):
    c = Counter(math_s)
    return [k for k, v in c.items() if v == c.most_common(1)[0][1]]
print("Mode : ",my_mode(math_s))

Mode :  [5.0]

In [26]:
# Calculating Standard without using libraries

import math

#calculating variance
def variance(math_s):
  n = len(math_s)
  my_mean = sum(math_s) / n
  deviations = [(x - my_mean) ** 2 for x in math_s]
  variance = sum(deviations) / n
  return variance

#calculating standard deviation
def stdev(math_s):
  var = variance(math_s)
  std_dev = math.sqrt(var)
  return std_dev

print("Standard Deviation : %s"% (stdev(math_s)))

Standard Deviation : 0.8253012917851409